body {
    background-color: rgb(41, 98, 145)
}
.myNameIs {
    font-size: 75px;
    text-align: center;
    padding: 0;
}
#bio, #navLinks, #projectsPage, #technologiesPage {
    display: flex;
    justify-content: space-evenly;
    
}

.Container {
    border: 2px solid black;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  

}
.projectsPage {
 border: 2px solid rgb(49, 22, 22);
 width: 300px;
 text-align: center;
 padding: 0px;
 margin: 8px;
 justify-content: center;
 box-shadow: 2px 2px 2px 2px rgb(7, 141, 250);
 border-radius: 5%;
}
#navLinks {
    border: 1px solid black;
    background-color: rgb(100, 77, 107);
    list-style: none;
    padding: 5px;
    
}
.navBar  {
    display: flex;
    border: 2px solid black;
    width: auto;
    background-color: rgb(100, 77, 107);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow: hidden;
}

a:hover {
    background-color:  rgb(106, 128, 146);
    color: black;
  }
#bioPage {
    justify-content: center;
}



.page-footer {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-around;
}